* {
    margin: 0;
    font-family: 'Fredoka', sans-serif;
}

body {
    background-color: #201b2c;
    color: rgb(0, 255, 136);
}

/* nav */

.nav {
    background-color: rgba(0, 0, 0, 0.3);
    width: 100%;
    position: fixed;
    z-index: 10000;
}

.nav img {
    width: 5rem;
    position: absolute;
    padding-top: 0.7rem;
    padding-left: 0.5rem;
}

.navul {
    text-decoration: none;
    list-style-type: none;
    display: flex;
    justify-content: flex-end;
    padding: 10px;
}

.navli {
    font-size: 18px;
    padding: 2px 15px;
    /* eixo (y,x) */
    font-weight: 800;
    cursor: pointer;
}

.navli:hover {
    color: rgb(33, 150, 95);
}

/* nav media */

@media screen and (max-width: 520px) {
    .nav img {
        width: 3rem;
        padding-top: 0.8rem;
    }

    .navli {
        font-size: 12px;
    }
}

/* @media screen and (max-width: 355px) {
    .nav img {
        width: 5rem;
    }

    .navli {
        font-size: 10px;
    }
} */


/* login */

.menu-login {
    display: flex;
    flex-direction: row;
    width: 100vw;
    padding-top: 10rem;
    padding-bottom: 4rem;
    justify-content: center;
    /* justify-content refere-se ao eixo x */
    align-items: center;
    /* align-items refere-se ao eixo y */
}

/* media menu-login */

@media screen and (max-width: 915px) {
    .menu-login {
        text-align: center;
        flex-direction: column;
        padding-top: 4rem;
    }
}

/* .left-login */

.left-login {
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
    font-weight: 800;
    flex-direction: column;
}

.left-login > h1 {
    font-size: 50px !important;
    text-shadow: black 0.2rem 0.2rem 1rem;
}

.left-login > h3 {
    font-size: 30px !important;
    text-shadow: black 0.2rem 0.2rem 1rem;
}

.left-login > img {
    width: 17rem;
    margin-left: auto;
    margin-right: auto;
}

/* left-login media */

@media screen and (max-width: 915px) {
    .left-login > h1 {
        font-size: 50px !important;
        color: rgb(0, 255, 136);
        text-shadow: black 0.2rem 0.2rem 1rem;
    }
    
    .left-login > img {
        width: 12rem;
    }
}

    @media screen and (max-width: 520px) {
        .left-login > h1 {
            font-size: 50px !important;
            color: rgb(0, 255, 136);
            text-shadow: black 0.2rem 0.2rem 1rem;
        }

        .left-login > h3 {
            font-size: 15px !important;
        }
    }

    @media screen and (max-width: 520px) {
        .left-login > img {
            width: 8rem;
        }

        .left-login > h1 {
            font-size: 30px !important;
        }
    }

/* right-login */

.right-login {
    display: flex;
    width: 50%;
    text-align: center;
    justify-content: center;
}

.card-login {
    width: 60%;
    padding: 30px 35px;
    width: 50%;
    text-align: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 1.25rem;
    box-shadow: rgba(0, 0, 0, 0.56) 0px 22px 70px 4px;
}

.card-login > div > h1 {

    font-size: 1.563;
    text-shadow: black 0.2rem 0.2rem 1rem;
}

.conexao {
    text-align: center;
}

.botao-face {
    background-color: #3578E5;
    border: none;
    color: white;
    border-radius: 2rem;
    cursor: pointer;
    width: 7rem;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
    box-shadow: black 0.2rem 0.2rem 0.3rem;
}

.botao-google {
    background-color: rgb(190, 57, 24);
    border: none;
    color: white;
    cursor: pointer;
    border-radius: 2rem;
    width: 7rem;
    margin-top: 0.5rem;
    padding: 0.3rem;
    margin-bottom: 0.2rem;
    box-shadow: black 0.2rem 0.2rem 0.3rem;
}

.botao-face:hover {
    color: rgba(0, 0, 0, 0.8);
}

.botao-google:hover {
    color: rgba(0, 0, 0, 0.8);
}

.label-control {
    text-align: start;
}

.form-control {
    display: flex;
    justify-content: center;
}

.textfield {
    width: 15rem;
    display: flex;
    flex-direction: column;
    /* quando usamos o flex-direction o align-items passa a ser o eixo x,
    e o justify-content passa a ser o eixo y */
}

.textfield > input {
    background-color: #2f2250;
    border: none;
    box-shadow: black 0.5rem 0.5rem 1rem;
    border-radius: 10px;
    padding: 5%;
    margin: 3%;
}

.input::placeholder {
    color: rgb(0, 255, 136);
}

.metodos {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    cursor: pointer;
    font-size: 15px;
}

.metodos p:hover {
    color: rgba(33, 150, 95);
}

.botao-login {
    display: flex;
    text-align: center;
    justify-content: center;
    letter-spacing: 5%;
    padding-top: 0.3rem;
    padding-bottom: 0.3rem;
}

.botao-login > button {
    font-weight: 900;
    padding: 5% 20%;
    cursor: pointer;
    color: #2f2250;
    background-color: rgb(0, 255, 136);
    border: none;
    border-radius: 1.25rem;
    box-shadow: black 0.5rem 0.5rem 1rem;
}

.botao-login > button:hover {
    background-color: rgba(33, 150, 95);
}

/* media right-login */

@media screen and (max-width: 1075px) {
    .card-login > div > h1 {
        font-size: 1.563rem;
    }
}

@media screen and (max-width: 915px) {
    .card-login > div > h1 {
        font-size: 1.25rem;
    }

    .textfield {
        width: 100%;
    }

    .metodos {
        font-size: 0.75rem;
    }

    .botao-face {
        width: 5rem;
        font-size: 0.7rem;
    }

    .botao-google {
        width: 5rem;
        font-size: 0.7rem;
    }
}

@media screen and (max-width: 520px) {
    .metodos {
        display: flex;
        flex-direction: column;
        font-size: 10px;
        padding-bottom: 0.5rem;
    }
}

@media screen and (max-width: 355px) {
    .card-login > div > h1 {
        font-size: 1.0rem;
    }

    .botao-face {
        width: 3rem;
        font-size: 0.4rem;
    }

    .botao-google {
        width: 3rem;
        font-size: 0.4rem;
    }

    .metodos {
        font-size: 8px;
    }

    .input::placeholder {
        color: rgb(0, 255, 136);
        font-size: 8px;
    }
}

/* footer */

footer {
    text-align: center;
}

footer i {
    cursor: pointer;
}

footer i:hover {
    color: rgba(33, 150, 95);
}